name: Docker Image SampleApp
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - uses: azure/docker-login@v1
      with:
        login-server: tomcatghactions.azurecr.io
        username: ${{ secrets.ACR_USERNAME }}
        password: ${{ secrets.ACR_PASSWORD }}    

    - name: Build the Docker image
      run: |
        docker build . --file Dockerfile --tag tomcatghactions.azurecr.io/tomcat:${{ github.run_number }}
        docker push tomcatghactions.azurecr.io/tomcat:${{ github.run_number }}
