name: Docker Image SampleApp
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - uses: Azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Retreive creds from keyvault
      uses: Azure/get-keyvault-secrets@v1
      with: 
        keyvault: "tomcat"
        secrets: 'username, userpassword'
      id: myGetSecretAction    

    - name: Login to ACR
      uses: azure/docker-login@v1
      with:
        login-server: tomcatghactions.azurecr.io
        username: ${{ secrets.ACR_USERNAME }}
        password: ${{ secrets.ACR_PASSWORD }}    
        
    - name: Replace creds in app properties file
#      uses: ./.github/actions/replace
#      with:
#        files: application.properties
#        replacements: '$$KV_USER_NAME$$=${{ steps.myGetSecretAction.outputs.username }},$$KV_PASSWORD$$=${{ steps.myGetSecretAction.outputs.userpassword }}'
      run: |
        sed -e 's/##KV_USER_NAME##/${{ steps.myGetSecretAction.outputs.username }}/g' application.properties
        sed -e 's/##KV_PASSWORD##/${{ steps.myGetSecretAction.outputs.userpassword }}/g' application.properties
        cat application.properties
         
    - name: Build the Docker image
      run: |
        cat application.properties
        docker build . --file Dockerfile --tag tomcatghactions.azurecr.io/tomcat:latest
        docker push tomcatghactions.azurecr.io/tomcat:latest
#        docker build . --file Dockerfile --tag tomcatghactions.azurecr.io/tomcat:${{ github.run_number }}
#        docker push tomcatghactions.azurecr.io/tomcat:${{ github.run_number }}
